/* COLORS */

$orange : #f87b68;
$darkblue : #232d3c;


/* FONTS */

@font-face {
    font-family: 'avenir-black';
    src: url('../fonts/avenir/avenir-black/Avenir-LT-Std-95-Black.woff') format('woff'),
         url('../fonts/avenir/avenir-black/Avenir-LT-Std-95-Black.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'avenir-heavy';
    src: url('../fonts/avenirheavy.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'avenir';
    src: url('../fonts/avenirregularr.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

/*MIXINS*/

@mixin title($color){
	font-family: 'avenir-heavy';
	font-size: 27pt;
	color: $color;
	text-transform: uppercase;
	letter-spacing: 3px;
	text-shadow: 1px 0px 0px rgba(1,2,2, 0.25); 
	margin: 0 auto;
    text-align: center;

	&:after{
		content: '';
	    width: 45px;
	    height: 5px;
	    display: block;
	    margin: 0 auto;
	    margin-top: 10px;
	}
}

/*BREAKPOINTS*/
$mindesktop-width: 1200px;
$tablet-width: 768px;
$desktop-width: 1024px;
$largedesktop-width: 1920px;

@mixin tablet {
  @media (max-width: #{$tablet-width - 1px}) {
    @content;
  }
}

@mixin mindesktop {
  @media (max-width: #{$mindesktop-width - 1px}) {
    @content;
  }
}

@mixin desktop{
	@media(max-width: #{$desktop-width - 1px}){
		@content;
	}
}

@mixin largedesktop{
  @media(min-width: #{$desktop-width +1px}){
    @content;
  }
}